body
{
background-color:#ced3db;
margin:0;
padding:0;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.todo-container
{
background-color:white;
width:650px;
margin:50px auto;
padding:20px;
border:none;
border-radius: 5px;
box-shadow:10px 10px 10px rgba(255,255,255,0.5),-10px -10px 10px rgba(255,255,255,0.5);
}
/* seach Box */
.searchBox
{
margin:10px;
padding:20px;
/* border:2px solid rgba(0,0,255); */
border-radius:5px;
/* box-shadow:2px 2px 2px rgba(0,0,255,0.5),-2px -2px 2px rgba(0,0,255,0.5); */
}
.searchbar
{
width:450px;
height:45px;
font-size:20px;
border:none;
border-radius:5px;
color:#8f8d96;
border:2px solid blue;
}
.searchbar:focus
{
outline:none;
border:2px solid blue;
box-shadow:3px 3px 5px rgba(66,27,204,0.5),-3px -3px 5px rgba(66,27,204,0.5);
}
#taskbtn
{
width:70px;
height:40px;
margin:10px;
border-radius:5px;
background-color:blue;
color:white;
font-size:20px;
font-weight:600;
border:2px solid blue;
}
#taskbtn:hover
{
background-color:white;
color:blue;
box-shadow:3px 3px 5px rgba(66,27,204,0.5),-3px -3px 5px rgba(66,27,204,0.5);
}
#taskbtn:focus
{
outline:none;
border:none;
}

/* list Box */
.listBox
{

margin:10px;
margin-bottom:0;
padding:20px;
padding-bottom:10px;
border:2px solid rgba(0,0,255,0.5);
border-radius:5px;
box-shadow:2px 2px 3px rgba(0,0,255,0.5),-2px -2px 3px rgba(0,0,255,0.5);
}
#my-list
{
padding:10px;
list-style:none;
font-size:22px;
overflow-y:auto;
}
#my-list li
{
font-size:22px;
color:rgba(0,0,0,0.6);
border:2px solid rgba(0,0,255,0.7);
margin-bottom:0px;
position:relative;
padding:10px;
}

#del-btn
{
border-radius:5px;
font-size:18px;
background-color:red;
color:#fff;
border:2px solid red;
margin:10px,0px,10px,5px;
}
#del-btn:hover
{
background-color:white;
color:red;
}
#save-btn
{
margin:10px;
border-radius:5px;
font-size:18px;
background-color:green;
color:#fff;
border:2px solid green;
margin:10px,5px,10px,0px;
}
#save-btn:hover
{
background-color:white;
color:green;
}

#btn-container
{
text-align:center;
margin-bottom:10px;

}
@media (max-width:700px)
{
.todo-container
{
width:450px;
margin:20px;
}
.searchbar
{
width:350px;
font-size:18px;
}
#taskbtn
{
width:110px;
margin:20px 0px 0px 0px;
}
#my-list li
{
font-size:18px;
}
.searchBox
{
text-align:center;
}

}

